.compare{
  background: rgba(0, 0, 0, 0.637);
}
.juxtapose{
  margin: auto;
}

#image1, #image2{
  /* max-width: 200px; */
  max-height: 250px;
}

#parallax__wrapper {
  -webkit-perspective: 1px;
          perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.parallax__group {
  position: relative;
  height: 105vh;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

[class^='parallax__layer'] {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.parallax__layer__back {
  -webkit-transform: translateZ(-1px) scale(2.1);
          transform: translateZ(-1px) scale(2.1);
}

/* The stacking order of the groups (or sections) depends on your layout.
 * You might want to reverse it here to see what overlaps what. */
.parallax__group:nth-child(odd) {
  z-index: 1;
}

.parallax__group:nth-child(even) {
  z-index: 2;
}

header .parallax__layer__back {
  background-image: url("https://goo.gl/KpR86D");
}

section:nth-of-type(odd) .parallax__layer__base {
  background-color: white;
}

section:nth-of-type(2) .parallax__layer__back {
  background-image: url("https://goo.gl/fok2Gx");
}

section:nth-of-type(4) .parallax__layer__back {
  background-image: url("https://goo.gl/3nG07C");
}

header,
section:nth-of-type(even) .parallax__layer__base {
  color: white;
}

footer,
[class^='parallax__layer'] {
  display: table;
  width: 100%;
  height: 100%;
  background-size: cover !important;
  background-position: center !important;
}

.contain {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

header .parallax__layer__back,
section:nth-of-type(4) .parallax__layer__back {
  -webkit-filter: grayscale(80%);
          filter: grayscale(80%);
  background-color: royalblue;
  background-blend-mode: overlay;
}

section:nth-of-type(2) .parallax__layer__back {
  -webkit-filter: grayscale(70%);
          filter: grayscale(70%);
  background-color: tomato;
  background-blend-mode: overlay;
}

section:nth-of-type(1) {
  color: #475285;
}

section:nth-of-type(3) {
  color: #a65959;
}

header h1, header button {
  text-shadow: 0 0 20px rgba(71, 82, 133, 0.7);
}

nav {
  position: absolute;
  top: 0;
  background: none;
  z-index: 3;
  width: 100%;
  text-align: right;
  padding-top: 2px;
}
nav a {
  line-height: 3;
  color: white;
  font-size: calc(.7vw + 1vh + .35vmin);
  margin-right: 1em;
  text-decoration: none;
  transition: opacity 0.3s;
}
nav a:hover {
  opacity: 0.5;
}

nav a:active{
  color: #fff;
}

.contain a{
  color: #fff;
} 


footer {
  display: table;
  width: 100%;
  background-color: #363d63;
}
footer h1 {
  font-size: 100%;
  color: white;
}
footer:after {
  content: "";
  display: block;
  position: absolute;
  bottom: -1px;
  left: 0;
  background: #363d63;
  height: 1px;
  width: 100%;
}

#parallax__wrapper {
  scroll-behavior: smooth;
}
