body{

  zoom:90%
  
}

.analyze ,.breadcrumb{
  background: #fff;
}


.card{
  margin: 0;
  padding: 0;
  cursor: pointer;
  min-height: 30%;
}
.card.blue:hover{
  background-color:rgb(202, 242, 255);
}
.card.blue{
  background-color: #f2fcff;
  border: 1px solid #aaddef;
}
.card.red:hover{
  background-color:rgb(255, 223, 202);
}
.card.red{
  background-color: #fff7f2;
  border: 1px solid #efc0aa;
}

section{
  /* max-width: 1000px; */
  min-height: calc(100% - 56px);
  background-color: #fff;
  
}

.image{
  width: 150px;
  height: 150px;
  margin-top: 40px;
}

.card-title-blue{
  color: #005781;
}

.card-title-red{
  color: #812900;
}

a,a:hover,a:active{
  text-decoration: none;
  color: black;
}

.card img{
  width: 75%;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.card:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}


/* Card animate */
.card.animate {
  -webkit-animation : fly-in .3s .5s ease both;
  -moz-animation    : fly-in .3s .5s ease both;
  -o-animation      : fly-in .3s .5s ease both;
  animation         : fly-in .3s .5s ease both;
}

@-webkit-keyframes fly-in {
  from {
    -webkit-transform :translateY(15rem) rotate(15deg);
    transform         :translateY(15rem) rotate(15deg);
    opacity:0;
  }
}
@-moz-keyframes fly-in {
  from {
    -moz-transform :translateY(15rem) rotate(15deg);
    transform      :translateY(15rem) rotate(15deg);
    opacity:0;
  }
}
@keyframes fly-in {
  from {
    transform:translateY(15rem) rotate(15deg);
    opacity:0;
  }
}

/* Title text Fade in */
.fade-in {
	animation:1s ease 0s normal forwards 1 fade-in;
  -webkit-animation:1s ease 0s normal forwards 1 fade-in;
}
@keyframes fade-in {
    from { opacity: 0; } to   { opacity: 1; }
}
@-moz-keyframes fade-in {
    from { opacity: 0; } to   { opacity: 1; }
}
@-webkit-keyframes fade-in {
    from { opacity: 0; } to   { opacity: 1; }
}
@-ms-keyframes fade-in {
    from { opacity: 0; } to   { opacity: 1; }
}
@-o-keyframes fade-in {
    from { opacity: 0; } to   { opacity: 1; }
}

h3{
  font-size: 24px;
  font-weight: 500;
  color: rgb(82, 82, 82);
}
