video {
  width: 100%;
  min-height: 350px;
  margin-top: 2px;
  border: 1px solid black;
}

.btnRecord {
  cursor: pointer;
  display: block;
  width: 160px;
  border: 1px solid black;
  font-size: 10px;
  text-align: center;
  color: white;
  background-color: darkgreen;
  text-decoration: none;
}