#parallax__wrapper

  header.parallax__group
    .parallax__layer__back
    .parallax__layer__base: .contain: h1 CSS Vanilla Parallax

  section.parallax__group#anchor1
    .parallax__layer__base: .contain: h1 No Javascript

  section.parallax__group#anchor2
    .parallax__layer__back
    .parallax__layer__base: .contain: h1 Just pure fun

  section.parallax__group#anchor3
    .parallax__layer__base: .contain: h1 Awesome!

  section.parallax__group#anchor4
    .parallax__layer__back
    .parallax__layer__base: .contain: h1 Extendable!

  footer.parallax__group: .contain: h1 Thanks for scrolling.